server:
  port: 8600

spring:
  application:
    name: turbo
  profiles:
    active: dev,turbo
    # 开启虚拟线程
  threads:
    virtual:
      enabled: true
  security:
    oauth2:
      authorizationserver:
        endpoint:
          # 授权码
          authorization-uri: /oauth2/authorize
          # token
          token-uri: /oauth2/token
          # revoke
          token-revocation-uri: /oauth2/revoke
          oidc:
            client-registration-uri: /connect/register
            logout-uri: /connect/logout
            user-info-uri: /userinfo
# mybatis 配置
mybatis-plus:
  # mybatis mapper路径
  mapper-locations: classpath:cc/allio/uno/turbo/**/*Mapper.xml
  type-aliases-package: cc.allio.uno.turbo.**.entity
  global-config:
    db-config:
      # 使用SnowflakeIdentifierGenerator
      id-type: assign_id
      # 逻辑删除字段
      logic-delete-field: is_deleted
      # 逻辑删除值，0未删除，1删除
      logic-delete-value: 1
      # 逻辑未删除值
      logic-not-delete-value: 0
      # 是否控制台 print mybatis-plus 的 LOGO
    banner: false
  configuration:
    # 是否开启自动驼峰命名规则（camel case）映射
    map-underscore-to-camel-case: true
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl

# swagger 配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    enabled: true
    path: /v3/api-docs
knife4j:
  enable: true
  production: false

management:
  otlp:
    metrics:
      export:
        enabled: false
  endpoints:
    web:
      exposure:
        include: '*'
      base-path: /actuator

# 去除otel的生成的bean，而采取自定义实现
otel:
  instrumentation:
    annotations:
      enabled: false
  exporter:
    zipkin:
      enabled: false
    otlp:
      enabled: false
  sdk:
    disabled: false
# easyexcel枚举扫描路径
excel:
  enum:
    scanner:
      package: cc/allio/turbo/modules/system/constant/**/*