<?xml version="1.1" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.allio.turbo.modules.system.mapper.SysPostMapper">

    <select id="findSysPostByUserId" resultType="cc.allio.turbo.modules.system.entity.SysPost">
        SELECT p.*
        FROM sys_post p
                 LEFT JOIN (SELECT * FROM sys_user_post WHERE user_id = #{userId}) up ON p.id = up.post_id
    </select>
</mapper>