<?xml version="1.1" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.allio.turbo.modules.system.mapper.SysRoleMapper">

    <select id="findSysRoleByUserId" resultType="cc.allio.turbo.modules.system.entity.SysRole">
        SELECT r.*
        FROM sys_role r
                 LEFT JOIN sys_user_role urr ON r.ID = urr.role_id
        WHERE urr.user_id = #{userId}
    </select>

    <select id="findRoleMenuIdByIds" resultType="java.lang.Long">
        SELECT rm.menu_id
        FROM (SELECT ID FROM sys_role
        <where>
            <if test="roleIds != null and roleIds.size() > 0">
                id IN
                <foreach collection="roleIds" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        ) r
        LEFT JOIN sys_role_menu rm ON r.ID = rm.role_id
    </select>


    <select id="findRoleMenuIdByCodes" resultType="java.lang.Long">
        SELECT rm.menu_id
        FROM (SELECT ID FROM sys_role
        <where>
            <if test="codes != null and codes.size() > 0">
                code IN
                <foreach collection="codes" item="code" open="(" close=")" separator=",">
                    #{code}
                </foreach>
            </if>
        </where>
        ) r
        LEFT JOIN sys_role_menu rm ON r.ID = rm.role_id
    </select>
</mapper>