<?xml version="1.1" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.allio.uno.turbo.system.mapper.SysMenuMapper">

    <select id="tree" resultType="cc.allio.uno.turbo.system.entity.SysMenu">
        WITH RECURSIVE menu_tree AS (SELECT
        id, code, name, sort, parent_id, alias, route, icon, created_by, created_time, updated_by, updated_time,
        is_deleted,
        version, tenant_id
        FROM sys_menu
        <where>
            <if test="param.id != null">
                id = #{param.id}
            </if>
            <if test="param.name != null and param.name != ''">
                name = #{param.name}
            </if>
            <if test="param.menuIds != null and param.menuIds.size > 0">
                id IN
                <foreach collection="param.menuIds" open="(" close=")" separator="," item="menuId">
                    #{menuId}
                </foreach>
            </if>
            AND is_deleted = 0
        </where>
        UNION
        SELECT sub.id, sub.code,
        sub.name, sub.sort, sub.parent_id, sub.alias, sub.route, sub.icon, sub.created_by, sub.created_time,
        sub.updated_by, sub.updated_time, sub.is_deleted, sub.version, sub.tenant_id
        FROM sys_menu sub
        INNER JOIN menu_tree P ON P.ID = sub.parent_id AND p.is_deleted = 0 AND sub.is_deleted = 0)
        SELECT
        *
        FROM menu_tree
        <where>
            <if test="param.exclude != null and param.exclude == true">
                id != #{param.id}
            </if>
        </where>
    </select>
</mapper>